.root{
    -fx-background-color: #EAEEF4;
}


.side_bar{
    -fx-background-color: #353A56;
    -fx-border-color:#2207bb;
    -fx-border-width: 2px 2px 2px 2px;
    /*-fx-border-radius: 20px;*/
    /*-fx-background-radius: 20px;*/
    -fx-border-style: solid;
}

.innerPane{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    /*-fx-border-radius: 20px;
    -fx-background-radius: 20px;*/
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.dashboard{
    -fx-background-color: #303551;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}

.logout_btn{
    -fx-background-color: #FF0000;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #FF0000;
}

.update_btn{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}


.top_bar{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    /*-fx-background-radius: 20px;*/
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.users_pane {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}


.card_pane {
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    /*-fx-background-radius: 20px;*/
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.usersTable{

    -fx-background-radius: 14 14 0 0;

}


.usersTable .column-header-background{
    -fx-background-color: #748CF1;
    -fx-background-radius: 14 14 0 0;

}



.usersTable .column-header, usersTable .filler{
    -fx-size:50px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}


.usersTable .column-header .label{
    -fx-text-fill: white;
}

.UpdateTextField{
    -fx-background-color: transparent;
    -fx-border-color: #748CF1;
    -fx-border-width: 0px 0px 2px 0px;
}

.white-background{
    -fx-background-color:  #FFF;
}

.light-grey-background{
    -fx-background-color: #F3F3F3;
}